.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
	background-image:  url("~/app/gradient_button.png");

}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
button {
	background-image:  url("~/view/register/gradient_button.png");
}