page {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c8/bb/36/c8bb368b76c0545a9ae3e5dab6c8e559.jpg");
}

.menuButton {
    width: 200;
    height: 50;
    margin-bottom: 50;
    opacity: 0.7;
}
